<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=100%, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="static/css/main.css">
	<link rel="stylesheet" href="static/css/slick-slider.css">
	<title>Кружки 2065</title>
</head>
<body>
	<div class="main-content">
		<div class="header">
			<div class="container">
				<div class="header__content">
					<div class="row">
						<div class="header__brand brand">
							<div class="brand__image">
								<img src="static/img/logo.png" alt="">
							</div>
							<div class="brand__text">
								<h5>КРУЖКИ</h5>
								<h2>2065</h2>
							</div>
						</div>
						<div class="burger" id="main-menu-burger">
							<span></span>
						</div>
						<div class="header__menu menu with-burger">
							<div class="menu__item">
								<button class="btn">
									Записаться
								</button>
							</div>
							<div class="menu__item _underlined active"><a href="">Главная</a></div>
							<div class="menu__item _underlined"><a href="">Преподаватели</a></div>
							<div class="menu__item _underlined"><a href="">Кружки</a></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="body">
			{% block content %}{% endblock %}
		</div>
		
		<div class="footer">
			<div class="container">
				<div class="footer__content">
					<div class="row">
						<div class="footer__brand brand">
							<div class="brand__text">
								<h5>КРУЖКИ</h5>
								<h2>2065</h2>
							</div>
						</div>
						<div class="footer__menu menu">
							<div class="menu__item"><a href="">Главная</a></div>
							<div class="menu__item"><a href="">Преподаватели</a></div>
							<div class="menu__item"><a href="">Кружки</a></div>
						</div>
					</div>
					<div class="row">
						<div class="footer__paragraph">
							Данный сайт создан в рамках проекта для Яндекс.Лицея. Информация на этом сайте взята с потолка. Фотографии и информация о преподавателях заимствована с сайта школы №2065. Данный сайт не имеет отношения к деятельности вышеупомянутого учебного заведения.
						</div>
						<div class="footer__paragraph">
							<b>Адрес</b>: 108819, город Москва, город Московский, 3-й микрорайон, дом 8.
							<br><br><b>Телефон</b>: +7 (495) 410-38-95
							<br><br><b>E-mail</b>: 2065@edu.mos.ru
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="mobile-sidebar" data-trigger="main-menu-burger">
		<div class="container">
			<div class="header__menu menu">
				<div class="menu__item">
					<button class="btn">
						Записаться
					</button>
				</div>
				<div class="menu__item _underlined active"><a href="">Главная</a></div>
				<div class="menu__item _underlined"><a href="">Преподаватели</a></div>
				<div class="menu__item _underlined"><a href="">Кружки</a></div>
			</div>
		</div>
	</div>
	<script src="static/js/burger.js"></script>
	<script src="static/js/checkbox.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/slick/slick.min.js"></script>
	<script type="text/javascript" src="static/js/slick/config.js"></script>
</body>
</html>